{{#view tagName="div" classNameBindings=':form-group field.showError:has-error'}}
    {{#if field.hasLabel}} <label class="control-label" for="{{field.controlID}}">{{field.label}}</label> {{/if}}

    {{#each field.contents as |item|}}
        <label class="control-label">
            {{input type='radio' class=field.controlID name=field.controlID value=item.id}}
            {{item.label}}
        </label>
    {{/each}}

    {{#if field.hasErrorHint}}
        {{#if field.showError}}
        <span class="help-block">{{field.errorMessage}}</span>
        {{/if}}
    {{/if}}
{{/view}}