<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {{#qf-form model=model for='submit' action='testAction' wrapper='horizontal'}}

                {{qf-checklist contents=relationships field='relationship4' label='Relationship4'}}

                {{qf-radiolist contents=relationships field='relationship3' label='Relationship3'}}

                {{qf-field type='email' field='firstName' label='First Name'}}

                {{qf-field field='lastName' label='Last Name'}}

                {{qf-field type="number" field='age' label='Age'}}

                {{qf-checkbox field='over18' label='Are you over 18?'}}



                {{qf-textarea field='firstName' label='First Name'}}

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        {{qf-button name='submit' class='btn btn-success' label='Submit'}}
                        {{qf-button validate=false name='reset' class='btn btn-default' label='Reset'}}
                    </div>
                </div>

            {{/qf-form}}
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>