{{#if field.hasLabel}} <label class="control-label" for="{{field.controlID}}">{{field.label}}</label> {{/if}}

<select class="form-control" multiple id={{field.controlID}}>
  {{#each field.contents as |item|}}
      <option value="{{item.id}}" selected={{item.checked}}>
        {{item.label}}
      </option>
  {{/each}}
</select>